@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --dark:#0F151A;
    --white: #F9FBFC;
    --greyblue:#4F788F;
    --grey:#F0F2F5;
    --blue: #1C91F2;
}
